server:
port: 8080
spring:
datasource:
url: jdbc:h2:file:./data/gestor;DB_CLOSE_ON_EXIT=FALSE;AUTO_SERVER=TRUE
driverClassName: org.h2.Driver
username: sa
password:
jpa:
hibernate:
ddl-auto: update
show-sql: false
properties:
hibernate:
format_sql: true


logging:
level:
org:
springframework: INFO